html {
  height: 100%;
  background-color: #fff;
}
.LogoBox,
.sideBar,
.Header {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.LogoBox{
 positions: absolute;
 top:0;left:0;
 height:100px;width:140px;
}
.Logo{
 position:relative;
 margin 18px 18px;
 width:130px;height:120px;
 border-radius:20px;20px;80px;80px;
}


.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* --- Header --- */
.Header {
  position: absolute;
  top: 0;
  left: 140px;
  right: 0;
  height: 40px;
  background-color: #001ce4;
}
.HeadBar {
  float: right;
  padding: 5px;
}
.Top {
  display: inline-block;
  font: 14px sans-serif;
  color: #fff;
}

/* --- SIDEBAR --- */
.sideBar {
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  transition: 0.5s;
  padding-top: 50px;
  background-color: #fff;
  transition:.7s;
  &.is-closed {
    transform: translates(-150px);
  }
}
.Nav {
  color: black;
  font:
    22px "Jura",
    sans-serif;
  padding: 11px;
}
.Nav:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* --- CONTENT --- */
.Content {
  position: absolute;
  top: 60px;
  bottom: 30px;
  left: 170px;
  right: 30px;
  padding: 30px 40px;
}
h3 {
  position: absolute;
  top: 360px;
  bottom: 30px;
  left: 170px;
  right: 30px;
  padding: 30px 40px;
  font: 24px sans-serif;
  color: #001ce4;
}
p {
  font: 15px sans-serif;
  line-height: 20px;
  margin: 0 0 24px;
  color: #222;
}
.sidebar-toggle {
  position: fixed;
  z-index: 1;
  border: 4px solid $white;
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 1em;
  background-color: $color__toggle;
  transform: rotate(45deg);
  cursor: pointer;
  transition: .5s;
  
  &.is-closed {
    transform: translateX(.3em) rotate(0deg);  
  }
  
  .icon {
    font-size: 1.5rem;
    color: $white;
  }
}





